# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/deps

# production
/.storage
/.cloud

# custom_components
/custom_components

/home-assistant.log
